
body {
    font: 14px sans-serif;
    font-family: 'Open Sans', sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e9ecf0;
    margin-bottom: 100px;
}

/*div {
    box-sizing: border-box;
}*/
a,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    color: #00447f;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

    a:hover {
        color: #1995ff;
    }

    a[disabled=disabled],
    button[disabled=disabled],
    a[disabled=disabled]:hover,
    button[disabled=disabled]:hover {
        background-color: #444;
        color: #ccc;
        cursor: auto;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}
